html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body, p {
  margin: 0;
}

html, body, main {
  height: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub.sub,
sup.sub {
  bottom: -0.25em;
}
sub.sup,
sup.sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.test__stats, .test__settings, .test__wrapper-start, .test__footer, .test__restart-btn {
  text-align: center;
  align-items: center;
}

body {
  font-family: Sora, Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.6rem min(4.9rem, 6%);
}

button {
  padding: 0.3em 0.5em;
  border-radius: 0.4rem;
  border: 1px solid #727279;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-right: 0.3rem;
}
button:focus {
  outline: 2px solid #4da6ff;
  outline-offset: 3px;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.test__underline {
  width: 100%;
}
.test__logo {
  width: 92%;
}
.test__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.test__wrapper-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.test__pb-label, .test__stats, .test__settings {
  color: #959597;
}
.test__divider {
  color: #262626;
  transform: scaleY(1.85);
  padding: 0rem 0.9rem;
  border-radius: 0;
}
.test__pb-wpm, .test__wpm-value, .test__accuracy-value, .test__time-value {
  color: white;
}
.test__stats, .test__settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.2rem;
}
.test__difficulty-label, .test__mode-label {
  padding-right: 0.6rem;
}
.test__difficulty-btn:hover, .test__mode-btn:hover {
  color: #4da6ff;
  border-color: #4da6ff;
}
.test__text {
  position: relative;
}
.test__wrapper-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}
.test__wrapper-text {
  filter: blur(2.5px) brightness(0.6);
  margin: 1.2rem 0;
}
.test__start-btn {
  padding: 0.6rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #1a7dff;
  border: none;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.test__start-label {
  font-size: 0.8em;
}
.test__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.test__restart-logo {
  padding-left: 0.3em;
  height: 0.9em;
}
.test__restart-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.6em 0.6em;
  border-radius: 0.4rem;
  font-size: 0.9em;
  background-color: #262626;
  border: none;
}
@media screen and (max-width: 1070px) {
  .test__wrapper-stats {
    flex-direction: column;
  }
  .test__stats {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1170px) {
  .test__stats, .test__settings {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=main.css.map */
