* {
  margin: 0;
  padding: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  font-family: Outfit, Arial, Helvetica, sans-serif;
  background-color: #D5E1EF;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
  width: 16rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: #ffffff;
}

.card__qr-img {
  object-fit: contain;
  width: 100%;
  border-radius: 0.6em;
}

.heading {
  font-size: 1.3em;
}

.description { 
  color: gray;
  font-size: 0.95em;
}

.card__qr, .card__heading, .description {
  padding-bottom: 1.4em;
}