.test {
	@include flex(column);

	&__underline {
		width: 100%;
	}

	&__logo {
		width: 92%;
	}

	&__header {
		@include flex($jc:space-between);
		padding-bottom: 2rem;
	}
	
	&__wrapper-stats {
		@include flex($jc:space-between);
	}

	&__pb-label, &__stats, &__settings {
		color: $n400;
	}

	&__divider {
		color: $n800;
		transform: scaleY(1.85); 
		@include pbr(0, 0.9, rem);
	}

	&__pb-wpm, &__wpm-value, &__accuracy-value, &__time-value {
		color: $n0;
	}

	&__stats, &__settings {
		@include flex();
		@extend %tplcenter;
		gap: 0.2rem;
	}

	&__difficulty-label, &__mode-label {
		padding-right: 0.6rem;
	}

	&__difficulty-btn:hover, &__mode-btn:hover {
		color: $b400;
		border-color: $b400;
	}

	&__text {
		position: relative;
	}

	&__wrapper-start {
		@include flex(column, center);
		@extend %tplcenter;
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;
		z-index: 300;
	}

	&__wrapper-text {
		filter: blur(2.5px) brightness(0.6);
		margin: 1.2rem 0;
	}

	&__start-btn {
		@include pbr(0.6, 0.0, rem, $br);
		background-color: $b600;
		border: none;
		font-size: 0.8em;
		margin-bottom: 1em;
	}

	&__start-label {
		font-size: 0.8em;
	}

	&__footer {
		@include flex($jc:center);
		@extend %tplcenter;
	}

	&__restart-logo {
		padding-left: 0.3em;
		height: 0.9em;
	}
	
	&__restart-btn {
		@include flex();
		@include pbr(0.6, 0.0, em, $br);
		@extend %tplcenter;
		font-size: 0.9em;
		background-color: $n800;
		border: none;
	}

	@media screen {
		@media (max-width: 1070px)  {
				&__wrapper-stats {
					flex-direction: column;
				}
				&__stats {
					margin-bottom: 1rem;
				}
		} 

		@media (max-width: 1170px) {
			&__stats, &__settings {
				font-size: 0.9rem;
			}
		}
	}
  
}