//Fonts
$ff: Sora, Arial, Helvetica, sans-serif;

//Colors
$n900: hsl(0, 0%, 7%);
$n800: hsl(0, 0%, 15%);
$n500: hsl(240, 3%, 46%);
$n400: hsl(240, 1%, 59%);
$n0: hsl(0, 0%, 100%);

$b600: hsl(214, 100%, 55%);
$b400: hsl(210, 100%, 65%);

$r500: hsl(354, 63%, 57%);

$g500: hsl(140, 63%, 57%);

$y400: hsl(49, 85%, 70%);

//Sizes
$p: 1.6;
$add: 3.3;
$br: 0.4rem;