.recipe {
  @include pbr($p * 2.4, $br);

  @include breakpoint("md") {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 
  } 

  @extend %tplflex;
  background: #fff;
  margin: 2rem auto; 

  width: 40%;
  font-size: 0.85rem;
  
  background-color: #ffff;

  &__container {
    text-align: center;
  }

  &__img {
    @include pbr(0.0, $br);
    object-fit: contain;
    width: 100%;
  }

  &__heading {
    color: $s900;
    margin-bottom: $m;
  }

  &__description {
    color: $s600;
    font-size: $fzs;
    font-weight: 500;
    line-height: $lh;
  }

  &__subheading {
    color: $b800;
    font-size: $fzm;
    font-weight: 500;
  }

  &__heading, &__subheading {
    font-family: "YoungSerif";
  }

  &__time {
    background-color:$r800bg;
    @include pbr($p + 0.2, $br);
  }

  &__list {
    padding-left: $p + 1;

    & li {
      color: $s600;
      padding-left: $p;
      line-height: 1.6rem;
    }

    & li::marker {
      color:$b800;
      font-weight: bold;
    }

    &-preparation {
      li::marker {
        color: $r800;
      }
    }
  }

  &__preparation-time {
    margin: $m 0 $m 0;
    color: $r800;
    font-weight: 600;
  }

  &__underline {
    border: none;
    height: 0.6px;
    background-color: $s150;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border-bottom: 0.1px solid $s150;
    }
    
    & tr:last-child {
      border: none;
    }

    td {
      padding: $p;
    }

    tr td:first-child {
      color: $s600;
    }

    tr td:last-child {
      color: $b800;
      font-weight: 700;
    }
    
    &-caption {
      display: inline-block;
      font-size: $fzs;
      margin-bottom: $m * 2;
      color: $s600;
    }
  }
}


