@font-face {
  font-family: 'Figtree Variable';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
}

body {
  font-family: 'Figtree Variable';
  background-color: hsl(47, 88%, 63%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 5px 5px 1px 1px rgba(0,0,0,1);
  background-color: #ffffff;
}

.card__header {
  display: flex;
  flex-direction: column;
}

.card__image {
  border-radius: 0.6rem;
  object-fit: contain;
}

.card, .card__image {
  width: 17rem;
}

.card__tag {
  width: 4em;
  background-color: hsl(47, 88%, 63%);
  font-size: 0.8em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  border-radius: 0.2rem;
  font-weight: bold;
}

.card__date {
  font-size: small;
}

.card__description {
  font-size: small;
  color: hsl(0, 0%, 42%);
  font-weight: 500;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__pfp {
  width: 2em;
  margin-right: 0.5rem;
}

.card__name {
  font-weight: bold;
  font-size: 0.8em;
}

.card__image, .card__tag, 
.card__date, .card__title, 
.card__description {
  margin-bottom: 1rem;
}


